@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,700|Fira+Sans+Extra+Condensed:400,700&subset=cyrillic');

body {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a, a.disabled:hover, a:disabled:hover {
    color: #853bff;
}

a.purple-gradient:hover {
    color: #fff;
}

h1,h2,h3,h4,h5,
.sidebar_maimenu_list_group,
.sidebar_menulist_container {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 400;
    color: #ec7100;
}

h1,.h1 {
    font-size: 1.8em;
}

h2,.h2 {
    font-size: 1.5em;
}
h3,.h3 {
    font-size: 1.3em;
}
h4,.h4 {
    font-size: 1.1em;
}
h5,.h5 {
    font-size: 1em;
}
h6,.h6 {
    font-size: 0.8em;
}

h4.alert-heading {
    margin-top: 5px;
    margin-bottom: 1em;
}

.header_breadcrumbs {
    margin: 0;
    background-color: transparent;
}

.alert, .blockquote, .breadcrumb,
.sidebar_mainmenu_accordion {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
}

    .alert .badge {
        margin-right: 5px;
    }

.blockquote {
    padding: 0.5em 0 0.5em 1em;
    border-left: 5px solid #ddd;
    margin: 1em 0;
    font-size: 1.1em;
}
.blockquote.alert-success {
    border-color: #48c366;
    background: #e6ffec;
}
.blockquote.alert-info {
    border-color: #5db4e0;
}

h2,h3,h4,h5 {
    margin-top: 20px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

main h1, main h2 {
    /*
    border-bottom: 2px solid #ffdcb4;
    */
}

main h2 {
    margin-top: 1.5em;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 63px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.highlight pre {
    padding: 1em;
}

.badge {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 400;
    padding: 5px 7px;
    font-weight: 400;
    font-size: 90%;
}

.utterances_github_comments {
    margin: 2em 0;
    text-align: left;
}
.utterances {
    margin-left: 0 !important;
}

.nav_main .breadcrumb a {
    color: #c09bfd;
}


.alert_translation_status_link_wrapper {
    margin: 1em 0 0 0;
}
.alert_translation_status_link {
    font-weight: 700;
}

.sidebar_menulist_container {
    margin: 1em ;
}
.sidebar_menulist {
    padding: 0 0 0 1em;
}
.sidebar_menulist li {
    list-style: none;
}
.sidebar_menulist.level_0 {
    padding-left: 0;
}
.sidebar_menulist_link.active {
    font-weight: 700;
}



.sidebar_mainmenu_accordion .list-group-item {
    background-color: #dad9ff;

}

.list-group.level-1 {
    font-size: 90%;
}
.list-group.level-1 .list-group-item {
    padding: 10px 10px 10px 35px;
    background-color: #fff;
}
.list-group-item.active, .list-group.level-1 .list-group-item.active {
    background-color: #7a58f9;
    border-color: #7a58f9;
}

.add_table_css table {
    margin-bottom: 1em;
}
.add_table_css table,
.add_table_css th,
.add_table_css td
{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.add_table_css td,
.add_table_css th {
    padding: 10px;
}
.add_table_css td code {
    white-space: nowrap;
}

.table-no-fullwidth {
    width: initial;
}