<table class="table table-bordered table-hover">

  <thead>

  <tr>
    <th>Аддон</th>
    <th>XenForo</th>
    <th>Тип</th>
    <th>Краткое описание</th>
    <th>Статус перевода</th>
  </tr>

  </thead>

  <tbody>

  {{ range .Page.Sections }}
  <tr>
    <td><a  href="{{ .URL }}">{{ .Params.menutitle }}</a></td>
    <td>{{ .Params.xenforo_version }}</td>
    <td>{{ .Params.addon_type }}</td>
    <td>{{ .Params.short_desc }}</td>
    <td>
      <div class="progress">
        <div class="progress-bar bg-{{ if eq .Params.translation_progress "100" }}success{{ else }}warning{{ end }}" role="progressbar" style="width: {{ .Params.translation_progress }}%;" aria-valuenow="{{ .Params.translation_progress }}" aria-valuemin="0" aria-valuemax="100">{{ .Params.translation_progress }}%</div>
      </div>
    </td>
  </tr>
  {{ end }}

  </tbody>

</table>
