<div class="alert alert-{{ if eq .Page.Params.translation_progress "100" }}success{{ else }}warning{{ end }}" role="alert">
  <p>
    {{ if eq .Page.Params.translation_progress "100" }}
    <span class="badge badge-success">Завершено</span>
    Перевод плагина завершен. Пользуйтесь на здоровье :)
    {{ else }}
    <span class="badge badge-warning">В работе</span>
    Перевод в разработке.
    {{ end }}
  </p>
  <div class="progress">
    <div class="progress-bar bg-{{ if eq .Page.Params.translation_progress "100" }}success{{ else }}warning{{ end }}" role="progressbar" style="width: {{ .Page.Params.translation_progress }}%;" aria-valuenow="{{ .Page.Params.translation_progress }}" aria-valuemin="0" aria-valuemax="100">{{ .Page.Params.translation_progress }}%</div>
  </div>
  <p class="alert_translation_status_link_wrapper">Скачать файл перевода:
    <a class="alert_translation_status_link" href="{{ .Page.Params.translation_file }}" target="_blank">{{ .Page.Params.translation_file }}</a>
  </p>
</div><!-- /.alert -->
